.rightelement
  = image_tag 'animation1.gif'
.rightelement
  p.rightheadtext где мы это делаем...
  p.rightgraytext с понедельника по пятницу: 9<sup>00</sup> - 18<sup>00</sup>
  = image_tag 'map_preview.png'
.rightelement
  p.rightheadtext почему мы?
  p.rightorangetext нет магазина
  p.rightgraytext и сумасшедших трат на аренду
  p.rightorangetext нет «одноразовых» диванов
  p.rightgraytext диван на всю жизнь
  p.rightorangetext бесплатный выезд менеджера
  p.rightgraytext делает Вашу жизнь только легче
  p.rightorangetext 94 % покупателей рекомендует нас другим
  p.rightgraytext 81 % рекомендуют Мерседес
  p.rightorangetext не довольны?
  p.rightgraytext без проблем исправим или обменяем
.rightelement
  p.rightheadtext хотите увидеть самое свежее и новое?
  p.rightgraytext
    | не теряйте время, смотрите наши новинки
    = link_to ' здесь...', '/'
  = image_tag 'rightminiphotos.png'
.rightelement
  p.rightheadtext мы очень серьезно относимся к выбору наших тканей!
  p.rightgraytext
    span нажмите
    = link_to ' сюда '
    span и узнайте почему
  = image_tag 'fabricsminiphoto.png'
.rightelement
  p.rightheadtext добавьте к любимому дивану интересную подушку
  p.rightgraytext
    span а лучше две,
    = link_to ' здесь '
    span  и сейчас
.rightelement
  p.rightheadtext лаборатория дизайна на sofa-store.ru
  p.rightgraytext
    = link_to 'дизайнеры'
    br
    = link_to 'телепроекты'
    br
    = link_to 'идеи'
    br
.rightelement
  p.rightheadtext нужна помощь в выборе дивана или кровати?
  p.rightgraytext звоните нам +7  495 580 0625
  = image_tag 'phonepic.png'
  p.rightgraytext или пишите info@sofa-store.ru