doctype html
html
  head
    meta http-equiv = "Content-Type" content = "text/html; charset=utf-8"
    title Интернет-магазин «Sofa Store» #{@page_title}
    = stylesheet_link_tag 'application', :media => 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tag

    - if @scripts
      - @scripts.each do |s|
        = javascript_include_tag s
  body
    = render :template => 'layouts/header'
    = yield
    = render :template => 'layouts/footer'