<!DOCTYPE html>
<html>
<head>
  <meta http-equiv = "Content-Type" content = "text/html; charset=utf-8">
  <title> Интернет-магазин «Sofa Store» <%= @page_title %></title>
  <%= stylesheet_link_tag    "application", media: "all"%>
  <%= javascript_include_tag "application"%>
  <%= csrf_meta_tags %>

  <% if @scripts%>
    <%@scripts.each do |s|%>
        <%= javascript_include_tag s %>
    <% end %>
  <% end %>

</head>
<body>

    <%= render template: 'layouts/header.html.slim' %>
    <%= yield %>
    <%= render template: 'layouts/footer.html.slim' %>

</body>
</html>
