footer
  = link_to 'почему всё-таки мы?', :pages_about_us
  = link_to 'частые вопросы'
  = link_to 'доставка и возврат', :pages_shipping
  = link_to 'наши вакансии'
  = link_to 'Ваши отзывы'
  = link_to 'связаться с нами', :pages_contacts, :class => 'last'