- if admin?
  .offset_block
  .admin_block
    = link_to "Выйти из режима администратора", :logout
- elsif user?
  .offset_block
  .user_block
    = "Здравствуйте, #{session[:name]}."
    br
    = link_to "Выйти из личного кабинета", :signout
    = link_to "Редактировать профиль", :edit_profile
header
  = logo
  .basket
    = link_to :my_cart
      == image_tag ('basket.png'), :class => 'basketimage'
    p.baskettext
      | Корзина (
      span#total_price = total_price
      |  руб.)

  p.phonenumber +7 (495) 580-06-25
  nav.mainmenu
    = link_to ' Главная', :root
    = link_to ' О нас', :pages_about_us
    = link_to ' Услуги', :pages_services
    /= link_to ' Каталог', :pages_catalog
    = link_to ' Каталог', :products
    = link_to ' Доставка', :pages_shipping
    = link_to ' Акция', :pages_sales
    = link_to ' Дизайнерам', :pages_for_designers
    = link_to ' Контакты', :pages_contacts, :class => 'last'