h1 Main#about_us
p Find me in app/views/main/about_us.html.slim

.tab_module
  ul
    li onclick="on_click_handler(this, 'whywe')" почему мы
    li onclick="on_click_handler(this, 'corner_sofas')" угловые<br>диваны
    li onclick="on_click_handler(this, 'straight_sofas')" прямые<br>диваны
    li onclick="on_click_handler(this, 'all_sofas')" эркерные<br>диваны
    li onclick="on_click_handler(this, all_sofas)" модульные<br>диваны
    li onclick="on_click_handler(this, all_sofas)" студийные<br>диваны
    li onclick="on_click_handler(this, all_sofas)" кресла
    li onclick="on_click_handler(this, all_sofas)" кровати
    li onclick="on_click_handler(this, all_sofas)" стулья
    li class="last" onclick="on_click_handler(this, all_sofas)" пуфы
  .tab_content_box
    #all_sofas.tab_content kjkeddjed
    #corner_sofas.tab_content rfcrffvev
    #straight_sofas.tab_content vvrv45ev4