<header>
  <%= image_tag 'logo.png' %>
  <div class="basket">
    <%= image_tag 'basket.png', class: "basketimage" %>
    <p class="baskettext">Корзина (545454 руб)</p>
  </div>
  <p class="phonenumber">+7 (495) 580-06-25</p>
  <nav class="mainmenu">
    <%= link_to 'Главная' %>
    <%= link_to 'О нас' %>
    <%= link_to 'Услуги' %>
    <%= link_to 'Каталог' %>
    <%= link_to 'Доставка' %>
    <%= link_to 'Акция' %>
    <%= link_to 'Дизайнерам' %>
    <%= link_to 'Контакты', '', class: :'last' %>
  </nav>
</header>