header
  = image_tag 'logo.png'
  .basket
    == image_tag ('basket.png'), :class => 'basketimage'
    p.baskettext Корзина (545454 руб)

  p.phonenumber +7 (495) 580-06-25
  nav.mainmenu
    = link_to ' Главная'
    = link_to ' О нас'
    = link_to ' Услуги'
    = link_to ' Каталог'
    = link_to ' Доставка'
    = link_to ' Акция'
    = link_to ' Дизайнерам'
    = link_to ' Контакты', '', :class => 'last'

    /a Главная
    /= puts '&crarr'
    /a  О нас
    /a  Услуги
    /a  Каталог
    /a  Доставка
    /a  Акция
    /a  Дизайнерам
    /a class = 'last'
    /  | Контакты
