= stylesheet_link_tag 'css/bigslider', :media=>'all'


script type = "text/javascript"
  | window.onload = function () {
  | init_tabs(); init_slider(); };

.container
  .leftblock
    #slider1.slider
      .slide_container
        .slide
          = link_to
            = image_tag 'sliderphotos/palermo.jpg'
          .description
            p.big Кресло-шезлонг «Палермо»
            p.small Кресло и шезлонг в одном.
        .slide
          a
            = image_tag 'sliderphotos/isida.jpg'
            .description
              p.big Прямой диван «Исида»
              p.small Прямой диван.
        .slide
          a
            = image_tag 'sliderphotos/abel.jpg'
            .description
              p.big Кресло «Абель»
              p.small Прямой диван.
      .arrows
        .arrow_left onclick = 'on_arrow_click(this)'
        .arrow_right onclick = 'on_arrow_click(this)'

    .tab_module
      ul
        li onclick="on_click_handler(this, 'all_sofas')" все<br>диваны
        li onclick="on_click_handler(this, 'corner_sofas')" угловые<br>диваны
        li onclick="on_click_handler(this, 'straight_sofas')" прямые<br>диваны
        li onclick="on_click_handler(this, 'all_sofas')" эркерные<br>диваны
        li onclick="on_click_handler(this, all_sofas)" модульные<br>диваны
        li onclick="on_click_handler(this, all_sofas)" студийные<br>диваны
        li onclick="on_click_handler(this, all_sofas)" кресла
        li onclick="on_click_handler(this, all_sofas)" кровати
        li onclick="on_click_handler(this, all_sofas)" стулья
        li class="last" onclick="on_click_handler(this, all_sofas)" пуфы
      .tab_content_box
        #all_sofas.tab_content
        #corner_sofas.tab_content
        #straight_sofas.tab_content
    p.headtext1 ...кстати, а разве мы ещё не говорили, что делаем любую мягкую мебель?
    .otherimagesblock
      .otherimage
        = image_tag 'otherfurniture/1.jpg'
        = link_to 'диван'
      p
        span увидеть больше наших работ и узнать<br> как это делается можно здесь&nbsp
        = link_to '/'
          = image_tag 'arrow.png'
    br
    .bottomblock
      p.big это интересно знать...
      p.medium наш очень удобный блог
      p.small Слово «диван» появилось не позднее XVI века и означало на фарси, на турецком и арабском языках сначала «исписанные листы бумаги» или «списки»[2], затем этим словом стали обозначать учётные книги, потом канцелярии и в конце концов типичную для подобных учреждений мебель — длинные скамьи с мягкой набивкой. Каркас дивана — это спроектированная определённым образом конструкция, которая принимают основную часть нагрузки при эксплуатации изделия. Несущая часть состоит из деревянных деталей: брусков и досок. В основном, для изготовления данных несущих деталей применяются сосна, ель, берёза, ольха.
      = image_tag 'book.jpg'
      p.big
      p.medium Ознакомьтесь с полным списком нащих вакансий, найдите<br> подходящую Вам, и мы будем рады видеть Вас в команде Sofa Store!
      p.medium_right
        span подробнее&nbsp
        = link_to '/'
          = image_tag 'arrow.png'

  .rightblock
    .rightelement
      = image_tag 'animation1.gif'
    .rightelement
      p.rightheadtext где мы это делаем...
      p.rightgraytext с понедельника по пятницу: 9<sup>00</sup> - 18<sup>00</sup>
      = image_tag 'map_preview.png'
    .rightelement
      p.rightheadtext почему мы?
      p.rightorangetext нет магазина
      p.rightgraytext и сумасшедших трат на аренду
      p.rightorangetext нет «одноразовых» диванов
      p.rightgraytext диван на всю жизнь
      p.rightorangetext бесплатный выезд менеджера
      p.rightgraytext делает Вашу жизнь только легче
      p.rightorangetext 94 % покупателей рекомендует нас другим
      p.rightgraytext 81 % рекомендуют Мерседес
      p.rightorangetext не довольны?
      p.rightgraytext без проблем исправим или обменяем
    .rightelement
      p.rightheadtext
        span хотите увидеть самое свежее и новое?
        span не теряйте время, смотрите наши новинки
        = link_to 'здесь...', '/'
        = image_tag 'rightminiphotos.png'
    .rightelement
      p.rightheadtext мы очень серьезно относимся к выбору наших тканей!
      p.rightgraytext
        span нажмите
        = link_to 'сюда'
        span и узнайте почему
        = image_tag 'fabricsminiphoto.png'
    .rightelement
      p.rightheadtext добавьте к любимому дивану интересную подушку
      p.rightgraytext
        span а лучше две,
        = link_to 'здесь'
        span  и сейчас
    .rightelement
      p.rightheadtext лаборатория дизайна на sofa-store.ru
      p.rightgraytext
        = link_to 'дизайнеры'
        br
        = link_to 'телепроекты'
        br
        = link_to 'идеи'
        br
    .rightelement
      p.rightheadtext нужна помощь в выборе дивана или кровати?
      p.rightgraytext звоните нам +7 495 580 0625
      = image_tag 'phonepic.png'
      p.rightgraytext или пишите info@sofa-store.ru