/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 * require_tree

 */

/*
    Document   : mainstyles
    Created on : 23.10.2013, 15:57:39
    Author     : coyote
    Description:
        Purpose of the stylesheet follows.
*/
root {
    display: block;
}

body {
    margin: 0;
    padding: 0;
}

img {
    border: none;
}


.logo {
    margin-left: 10px;
    width: 160px;
    height: 90px;
    /*float: left;*/
    z-index: 10;
    position: relative;
}
header {
    max-width:960px;
    margin: 0 auto;
    height:100px;
}
footer {
    height: 50px;
    /*background-color: yellow;*/
    max-width:960px;
    margin: 0 auto;
    text-align: center;
    padding: 16px 0 0 0;
}
footer a {
    font-family: Georgia, "Times New Roman", serif;
    font-size: 16px;
    line-height: 20px;
    color: #9b8c61;
    padding: 5px 10px 0 0;
    margin-right: 5px;
    /*padding-right: 5px;*/
    border-right: 1px #9b8c61 solid;
    text-decoration: none;
}
footer a.last {
    border: none;
    margin-right: 0;
    padding-right: 0;
}
.container {
    border: 1px dotted #7D766A;
    border-bottom: none;
    /*height: auto;*/
    max-width: 960px;
    margin: 0 auto;
    margin-top: -20px;
    /*margin: -20px auto 0 auto;*/
    /*float: left;*/
    z-index: 5;
    display: table;
    vertical-align: top;
}
.otherimagesblock {
    border: 1px dotted #7D766A;
    width: 690px;
    height: 640px;
    padding: 10px 15px 0 15px;
    display: table-cell;
    /*float: left;*/
    /*text-align: center;*/
}
.bottomblock {
    border-top: 1px dotted #7D766A;
    width: 755px;
    /*width: 100%;*/
    height: 300px;
    padding: 10px -20px 0 -30px;
    /*margin: 15px -15px 15px -15px;*/
    margin-left: -17px;
    display: block;
    /*float: left;*/
    /*text-align: center;*/
}
.bottomblock p.big {
    font-family: Georgia, "Times New Roman", serif;
    font-size: 29px;
    line-height: 35px;
    color: #7d766a;
    margin: 20px;
    clear: both;
}
.bottomblock p.medium, .bottomblock p.medium_right {
    font-family: Georgia, "Times New Roman", serif;
    font-size: 16px;
    line-height: 20px;
    color: #7d766a;
    margin: 20px;
}
.bottomblock p.medium_right {
    text-align: right;
    /*margin: 50px;*/
}
.bottomblock p.small {
    font-family: Georgia, "Times New Roman", serif;
    font-size: 12px;
    line-height: 15px;
    color: #7d766a;
    margin: 20px;
    width: 400px;
    text-align: justify;
    float: left;
    text-indent: 0;
}
.bottomblock img {
    /*clear: left;*/
}
.otherimagesblock p{
    font-family: Georgia, "Times New Roman", serif;
    font-size: 16px;
    line-height: 20px;
    /*color: #a99558;*/
    color: #7d766a;
    float: right;
}
.otherimagesblock img {
    float: right;
    margin: 5px 0 0 0;
}
.otherimage {
    margin: 0px 15px 20px 15px;
    width: 200px;
    text-align: center;
    float: left;
}
.otherimage a {
    margin: 12px 0 0 0;
    font-family: Georgia, "Times New Roman", serif;
    font-size: 18px;
    line-height: 14px;
    /*color: #a99558;*/
    color: #a99558;
    /*text-decoration: none;*/
}
.leftblock {
    border-right: 1px dotted #7D766A;
    border-bottom: 1px dotted #7D766A;
    padding: 0px 0 0 16px;
    height: 100%;
    width: 730px;
    display: table-cell;
    vertical-align: top;
}
.rightblock {
    width: 209px;
    display: table-cell;
    vertical-align: top;
}
.rightelement {
    /*height: 250px;*/
    /*float: right;*/
    /*padding: 5px;*/
    width: 209px;
    text-align: center;
    border-bottom: 1px dotted #7D766A;
    float: right;
}

.rightelement p.rightheadtext {
    font-family: Georgia, "Times New Roman", serif;
    font-size: 26px;
    line-height: 35px;
    /*color: #a99558;*/
    color: #7d766a;
    text-align: left;
    margin: 0px 15px 0px 15px;
    text-indent: 0;
}
.rightelement p.rightgraytext {
    font-family: Georgia, "Times New Roman", serif;
    font-size: 16px;
    line-height: 20px;
    color: #b8b3ab;
    text-align: left;
    margin: 0px 15px 0px 15px;
    text-indent: 0em;
}
.rightelement p.rightorangetext, .rightelement a{
    font-family: Georgia, "Times New Roman", serif;
    font-size: 16px;
    line-height: 20px;
    color: #9b8c61;
    text-align: left;
    margin: 0px 15px 0px 15px;
    text-indent: 0em;
    text-decoration: none;
}
.rightelement a {
    margin: 0px;
}

/*==================HEADER STYLE===================*/
header * {
    /*    margin: 0;
        padding: 0;
        float: none;
        clear: both;*/
}

header .phonenumber {
    font-family: Georgia, "Times New Roman", serif;
    font-size: 22px;
    float: right;
    margin: 6px 15px 0px 0px;
}
header .basket {
    padding: 0px 5px 0px 5px;
    display: flex;
    height: 30px;
    border-left: 1px dotted #7D766A;
    border-right: 1px dotted #7D766A;
    border-bottom: 1px dotted #7D766A;
    float: right;
}
header .basketimage {
    float: left;
    margin-top: 5px;
    height: 22px;
}
header .baskettext {
    font-family: Georgia, "Times New Roman", serif;
    font-size: 12px;
    color: #a99558;
}
header .mainmenu {
    float: right;
    margin: -35px 0px 0px 0px;
}
header .mainmenu a {
    font-family: Georgia, "Times New Roman", serif;
    font-size: 16px;
    color: #a99558;
    text-decoration: none;
    border-right: 1px solid #a99558;
    padding-right: 5px;
}
header .mainmenu a.last {
    border: none;
    padding: 0px;
}

/*================SLIDER=================*/

#map_preview {
    margin: 10px 0 10px 0;
    border:1px solid #999999;
}
.topslider {
    /*background-image: url("../imgs/sliderphotos/abel.jpg");*/
    width: 715px;
    height: 315px;
    border: 1px dotted gray;
    margin-top: 10px;
    /*margin: 10px 0px 0px 16px;*/
}
.sliderphotocontainer {
    width: 715px;
    height: 315px;
    float: left;
}
.sliderphotodescr {
    /*position: absolute;*/
    height: 75px;
    width: 100%;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.21);
    text-align: left;
}
.sliderphotodescr p {
    font-family: Georgia, "Times New Roman", serif;
    text-indent: 0px;
    color: white;
    margin: 10px 10px 10px 10px;
    padding: 0;
}
.sliderphotodescr p.head {
    font-size: 29px;
    line-height: 10px;
}
.sliderphotodescr p.small {
    font-size: 16px;
    line-height: 16px;
}

/* --------------TABS--------------*/
.tab_module {
    float: left;
    margin-top: 25px;
    width: auto;
    /*height: 800px;*/
    height: auto;
    text-align: left;
}
.tab_module ul {
    padding: 0;
    margin: 0;
}
.tab_module li {
    font-family: Georgia, "Times New Roman", serif;
    font-size: 14px;
    color: #7d766a;
    line-height: 10px;
    text-align: center;
    text-decoration: none;
    display: table-cell;
    border: 1px dotted #7D766A;
    border-bottom: none;
    border-right: none;
    border-radius: 4px 4px 0 0 ;
    padding: 5px 7px 3px 7px;
    margin-right: -5px;
    cursor: pointer;
    vertical-align: middle;
}
.tab_module li:hover {
    background-color: #b8b3ab!important;
    color: #ffffff!important;
}
.tab_module li.last {
    border-right: 1px dotted #7D766A;
}
.tab_content_box {
    border: 1px dotted #7D766A;
    height: 100%;
    width: 720px;
    height: auto;
    /*position: absolute;*/
    padding: 0 0 15px 0;
    float: left;
    /*display: none;*/
}
.tab_content {
    /*position: absolute;*/
    /*top:20px;*/
    /*background-color: blue;*/
}

/*=================PHOTOS===================*/
.photo {
    position: relative;
    float:left;
    width: 198px;
    height: 180px;
    margin: 25px 19px 10px 19px;
    /*    background-color: red;
        border: 1px solid black;*/
    text-align: center;
    display: block;

}
.photo a {
    vertical-align: bottom;
    font-family: Georgia, "Times New Roman", serif;
    font-size: 18px;
    color: #a99558;
    line-height: 14px;
}
.photo img {
    height: 125px;
    width: 195px;
}
/*====================HEAD TEXT=====================*/
.headtext1 {
    font-family: Georgia, "Times New Roman", serif;
    font-size: 24px;
    line-height: 30px;
    color: #7d766a;
    width: 650px;
    float: left;
    /*position: relative;*/

}


a.path {
    font-family: Georgia, "Times New Roman", serif;
    font-size: 12px;
    line-height: 10px;
    color: #9b8c61;
    margin: 15px 0px 10px 10px;
    float: left;
    text-decoration: none;
}
a.path a.last {
    color: #7d766a;
}

.offset_block {
    height: 40px;
    width: 100%;
}
.user_offset_block {
    height: 40px;
    width: 100%;
}
.admin_block, .user_block {
    height: 40px;
    margin-top: -40px;
    width: 100%;
    /*background-color: #ffffdd;*/
    background-color: #ddddff;
    border-radius: 0 0 10px 10px;
    border: 1px dotted #212121;
    text-decoration: none;
    position: fixed;
    z-index: 20;
    opacity: 0.7;
}

.admin_block a, .user_block a {
    text-decoration: none;
    color: darkred;
    margin: 10px;
}