// Place all the styles related to the Product controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.adding_photos {

}

.photo {
  float: left;
}

#product_description, #product_sizes {
  width: 800px;
  height: 500px;
}

.leftblock {
  .product {
    width:700px;
    min-height:250px;
    border: 1px dotted dimgray;
    margin: 10px;
      .info {
        float: left;
        margin-left: 50px;
        width: 330px;
        height: 250px;
      }
      p {
//        float:right;
      }
      img {
        float:left;
        width: 300px;
        margin-top: 30px;
        margin: 30px 0 0 10px;
      }
      p.name {
        font-family: "Arial Narrow", "Times New Roman", serif;
        font-size: 22px;
      }
      p.description {
        height: 120px;
        overflow: hidden;
        color: #747474;
        a.next {
          text-decoration: none;
          color: #947474;
          font-size: 17px;
          margin: 0 0 0 5px;
        }
      }
      p.price {
        font-family: "Georgia", "Arial", "Times New Roman";
        font-size: 20px;
        color: #1a1a1a;
        span.value {
          color: #802420;
          font-size: 21px;
          text-shadow: 1px 1px 1px #bbbbbb;
        }
      }
      div.admin_edit {
        float: right;
        margin-top: -50px;
      }

  }
}

.edit_product, .new_product {
  width: 970px
}

.contains_main_image {
  border: 3px solid red;
  background-color: #eed3d7;
}
.contains_not_main_image {
  border: 3px solid blue;
  background-color: #5bc0de;
}
.contains_other_image {
  border: 3px solid #2d6987;
}

.contains_main_image, .contains_not_main_image, .contains_other_image {
  float: left;
  margin: 5px;
  width: 210px;
  height: 195px;
  padding: 0 0 0 10px;
  label {
    font-size: 14px;
  }
}

.category_elements {
  float: right;
}