// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new_user_container {
//  min-width: 600px;
  margin: 10px 100px 10px 100px;
  padding: 0 0 0 80px;
  input[type=text], textarea {
    border: 1px solid #000000;
    width: 300px;
  }
  textarea {
    height: 100px;
  }
}

.users_header {
//  position: fixed;
  background-color: yellowgreen;
//  text-align: center;
  div {
    vertical-align: middle;
    display: inline;
  }
  height: 50px;
  width: 910px;
//  margin: 0 0 30px 0;
  opacity: 0.5;
}

.user_cell {
//  border: 1px solid #808080;
//  border-bottom: none;
//  border-top: none;
//  text-align: center;
  float: left;
  min-height: 20px;
  min-width: 50px;
  width: 128px;
  overflow: auto;
  padding-left: 2px;
//  height: 100%;
}

.user_row {
  float: left;
  padding: 0;
  height: 100%;
  min-height: 32px;
  border-bottom: 1px #000000;
  &.odd {
    background-color: #dddddd;
  }
}
