h1 Добавление категории продукта

= form_for @category do |f|
  p
    = f.label 'Название категории продукта'
    br
    = f.text_field :name, {style:'width : 300px'}
  p
    = f.label 'Описание категории продукта'
    br
    = f.text_area :description, {style:'width : 300px; height : 200px;'}
  p
    = f.submit 'Добавить категорию'

