javascript:
  window.onload = function() {init_tabs()}

= about_us_styles

.tab_module
  ul
    li onclick="on_click_handler(this, 'whywe')" почему мы
    li onclick="on_click_handler(this, 'payment_shipping')" заказ и доставка
    li onclick="on_click_handler(this, 'ourfabrics')" наши ткани
    li onclick="on_click_handler(this, 'callmanager')" вызов менеджера
    li onclick="on_click_handler(this, 'reviews')" отзывы наших покупателей
    li.last onclick="on_click_handler(this, 'contactus')" свяжитесь с нами!

  .tab_content_box
    #whywe.tab_content kjkeddjed
    #payment_shipping.tab_content rfcrffvev
    #ourfabrics.tab_content vvrv45ev4