
= about_us_styles
= stylesheet_link_tag "css/contacts"
= article_styles

.container
  .subcontainer
    .contacts
      p.big Контакты
      = image_tag 'about_us/map.jpg'
      p.normal По любым вопросам Вы можете
                                       связаться с нами по телефону
                                       в Москве: +7 (495) 580-06-25.
                                       Или написать нам на почтовый ящик
                                       info@sofa-store.ru
      p.normal Мы находимся по адресу: М.О., г. Долгопрудный, ул.  Лётная, д.1
      p.normal Время работы интернет-магазина: понедельник-пятница: с 10.00 до 20.00 суббота-воскресенье: выходные
    form.feedback controller="pages" action="send_feedback" method="post"
      /= pages_send_feedback_path
      p.big обратная связь
      .left_side
        p.small Ваше имя*
        input type="text" name="name"
        p.small фамилия
        input type="text" name="surname"
        p.small отчество
        input type="text" name="patronymic"
        p.small контактный телефон*
        input type="text" name="phone"
        p.small электронная почта
        input type="text" name="email"
      .right_side
        p.small Ваше сообщение
        textarea[id="message" name="message" ]
      input[id="feedback_button" type="image" alt="Вызвать менеджера" src="/assets/about_us/call_button.jpg"]

    /= form_for @feedbacks do |f|
    /  = f.text_field "name"
    /  = f.text_field "surname"
    /  = f.submit