
= article_styles

.container
  .subcontainer
    p.big Дизайнерам
    p.normal От идеи до воплощения-всего один шаг!
    p.normal Компания Sofa Store приглашает к всестороннему сотруднечеству дизайнеров, архитекторов, визуализаторов. Мы предлагаем реализацию Ваших интересных проектов и самых смелых идей с полным участием нашего производства и лучших конструкторских решений. На сегодняшний день очень востребованно изготовление эксклюзивной мягкой мебели и мебели по индивидуальному заказу. Объединив наши возможности мы вместе прийдём к желаемому результату! Более подробно об изготовлении элитной мягкой мебели здесь.
    = image_tag 'for_designers/topimg.jpg'
    p.normal Если у вам есть опыт работы в сфере моделирования и разработки мебели, у вас полно отменных идей, а папка с портфолио давно уже ищет выплеска в новую, отменную мебель или если у вас хорошо получается моделировать, рисовать от руки и грамотно словами объяснять что и как, мы готовы вас выслушать, посмотреть на вас и ваши работы!
    = image_tag 'for_designers/bottomimg.jpg'
    p.normal Мы рады сотрудничеству по созданию новых изделий, работы с рисунками и чертежами. Наши возможности позволяют работать не только с существующим модельным рядом SofaStore, но и создавать оригинальные, эксклюзивные интерьеры в нашем конструкторском бюро и на наших производственных площадях.
    p.normal Более подробную информацию о сотрудничестве, вы можете узнать по телефону +7 (495) 580-06-25