
= article_styles

.container
  .subcontainer
    p.big Акция
    p.normal Внимание! С 15 января стартует акция  на диваны серии “Турин” в стандартной комплектации будут доступны с 15% скидкой. Предложение ограничено!
    p.normal Стоимость данной модели  от 38 250 рублей!
    = image_tag 'sale/topimg.jpg'
    = image_tag 'sale/bottomimg.jpg'
    p.normal Более подробную информацию вы можете узнать по телефону +7(495) 580-06-25 или у нас в офисе!