
= article_styles

.container
  .subcontainer
    p.big Услуги
    p.normal На сегодняшний день компания "Sofa Store" рада предложить Вам различные услуги в сфере изготовления мягкой мебели!
    p.normal 1. Создание дизайн-проектов как полностью взятых интерьеров, так и отдельных единиц мягкой мебели, будь то диван, кресло, банкетка или кровать.
    p.normal 3. Изготовление мебели для баров, клубов, кафе, ресторанов и других помещений данной направленности.
    p.normal 3. Изготовление мебели для баров, клубов, кафе, ресторанов и других помещений данной направленности.
