
= article_styles

.container
  .subcontainer
    p.normal Доставка товара осуществляется в любую точку России при помощи транспортных компаний, работающих на территории страны.
    p.normal Доставка товара из каталога в регионы, осущевствляеться только после 100% оплаты стоимости товара.
    = image_tag 'about_us/map_of_russia.jpg'
    p.normal Мягкая мебель: диван, диван и кресла, кресло, кровать
    p.normal Доставка по Москве - 1000 рублей.
    p.normal За пределы МКАД - 35 руб/км.
    p.normal Подъём мебели - 200 рублей/этаж за каждую единицу товара (при наличии грузового лифта, оплачивается только первый и последний этаж подъёма).
    p.normal Сборка мебели - бесплатно.
    p.normal Для самовывоза свяжитесь с нашим менеджером по телефону 8 (495) 580-06-25.
    = image_tag 'about_us/truck.jpg'