/* 
    Document   : about_us
    Created on : 15.11.2013, 13:41:11
    Author     : coyote
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

input, textarea {
    font: 16px/25px Georgia, "Times New Roman", serif;
    color: #9b8c61
}

.tab_module {
    max-width: 960px;
    margin: 0 auto;
    float: none;
}

.tab_module ul {
    margin-left: 20px;
    font-size: 15px;
}

.tab_module ul li {
    margin-left: 20px;
    font-size: 15px;
    box-shadow: 2px -2px 3px rgba(0, 0, 0, 0.5);
}
.tab_module ul li:hover {
    box-shadow: 2px -2px 7px rgba(50, 0, 0, 0.7);
}


.tab_content_box {
    width: 960px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
    /*margin-bottom: 20px;*/
    text-align: center;
    float: none;
}
.tab_content p{
    font:19px/20px Gerogia, "Times New Roman", "Arial";
    color: #7d766a;
    text-indent: 10px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: left;
}
.tab_content img {
    margin: 0 auto;
    max-width: 800px;
}

/*===================CALLING MANAGER:INPUT FORM=====================*/

.call_manager {
    margin: 10px 50px 60px 90px;
}
p.big {
    font: 30px/20px Georgia, "Times New Roman", Arial;
    color: #7d766a;
    margin: 30px 0;
    padding: 0;
    text-indent: 0;
}
.call_manager p.small, .contacts p.small , .feedback p.small, .leavereview p.small {
    font: 14px/15px Georgia, "Times New Roman", Arial;
    color: #7d766a;
    margin: 0px 0;
    padding: 0;
    text-align: left;
    clear: both;
    text-indent: 0;
}

input#callmanager_button, input#feedback_button {
    float: right;
}
.left_side input {
    float: left;
    margin-left: 10px;
    margin: 10px 0px;
    width: 230px;
    border-style: groove;
    border:1px solid #7d766a;
}


.left_side {
    width: 300px;
    display: table-cell;
}

.right_side {
    margin-left: 30px;
    width: 500px;
    display: table-cell;
}
.right_side p.small {
    text-indent: 0;
}
.right_side textarea#address {
    float: left;
    margin: 10px 0px;
    width: 530px;
    height: 60px;
    border-style: groove;
    border:1px solid #7d766a;
}

.right_side textarea#additional_info {
    float: left;
    margin: 10px 0px;
    width: 530px;
    height: 145px;
    border-style: groove;
    border:1px solid #7d766a;
}

/*===================CONTACT US:INPUT FORM=====================*/

.contacts {
    padding: 10px;
}
.contacts p {
    width: 330px;
}
.contacts img {
    float: right
}
.feedback {
    padding: 10px;
    width: 790px;
    margin: 50px auto;
}
#message {
    width: 530px;
    height: 235px;
    float: left;
    margin: 10px 0px;
    border-style: groove;
    border:1px solid #7d766a;
}
.contacts p.big {
    font: 30px/20px Georgia, "Times New Roman", Arial;
    color: #7d766a;
    padding: 0;
    margin-left: 30px;
    text-indent: 0;
}

/*================LEAVE REVIEW==================*/

.leavereview {
    margin: 10px 10px 60px 30px;
}
textarea#review {
    width: 600px;
    height: 540px;
    margin: 10px 0;
    border-style: groove;
    border:1px solid #7d766a;
}
#leave_review_button {
    float: right;
    /*text-align: right;*/
}