/* 
    Document   : article
    Created on : 18.11.2013, 19:08:31
    Author     : coyote
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.container {
    border: 1px dotted #7D766A;
    width: 960px;
}

.subcontainer {
    border: 1px dotted #7D766A;
    margin: 30px 30px 30px 30px;
    padding: 20px;
    text-align: center;
}

p.big {
    font: 30px/20px Georgia, "Times New Roman", Arial;
    color: #7d766a;
    text-indent: 10px;
    text-align: left;
}
.center {
    margin: 0 0 0 20px;
}

p.normal {
    font: 19px/20px Georgia, "Times New Roman", Arial;
    color: #7d766a;
    text-indent: 10px;
    text-align: left;
}

.cushion_normal {
    width: 285px;
    height: 190px;
    text-align: center;
    float: left;
}

.cushion_normal p {
    font: 18px/20px Georgia, "Times New Roman", Arial;
    color: #9b8c61;
    text-align: center;
}
.subcontainer.cushions {
    height: 600px;
}