/* 
    Document   : basketstyles
    Created on : 14.11.2013, 11:32:30
    Author     : coyote
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.container {
    border-bottom: 1px dotted #7D766A;
}
p.your_basket {
    font: 29px/15px Georgia, "Times New Roman", "Arial";
    color: #7d766a;
    margin: 40px 10px 10px 10px;
    clear: both;
}
.table {
    border: 1px dotted #7D766A;
    /*border-bottom: none;*/
    /*width: 960px;*/
    width: 940px;
    display: table;
    margin: 10px;
    padding-bottom: 150px;
}
.table .table_header {
    background-color: #6e6559;
    color: #ffffff;
    font: 14px/15px Georgia, "Times New Roman", "Arial";
    display: table-row;
    height: 30px;
    margin: 10px;
}
.table .table_row {
    background-color: #ffffff;
    color: #666666;
    font: 16px/15px Georgia, "Times New Roman", "Arial";
    display: table-row;
    height: 30px;
    margin: 10px;
}

.table .table_cell {
    vertical-align: middle;
    display: table-cell;
    text-indent: 10px;
    min-width: 100px;
}

.table_cell a {
    text-decoration: none;
    color: #666666;
    margin-left: 20px;
}

.total {
    float: right;
    margin: -140px;
    margin-right: 20px;
}
.total p {
    font: 21px/15px Georgia, "Times New Roman", "Arial";
    color: #7d766a;
    display: inline;
}
.total p.sum {
    color: #000000;
}
a.refresh_basket, a.continue {
    font: 14px/15px Georgia, "Times New Roman", "Arial";
    color: #9b8c61;
    margin-top: -140px;
    margin-left: 20px;
    float: left;
    text-decoration: none;
}
a.continue {
    margin-top: -50px;
}
a.make_order {
    float: right;
    margin-top: -50px;
    margin-right: 20px;
}
a.make_order:hover {
    /*border: 1px solid white;*/
/*    border-radius: 5px;
    box-shadow: 3px 3px 30px rgba(255,0,0,0.5);*/
    border: 2px solid white;
}