/* 
    Document   : bigslider
    Created on : 13.11.2013, 10:38:04
    Author     : coyote
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.slider {
    /*border: 1px dotted #0044cc;*/
    width: 0px; /*если ноль или отстутствует, то размер вычисляется атоматически по размеру картинки*/
    text-align: center;
    overflow: hidden;
    /*height: 300px;*/
}
#slider2{
    width: 800px;
}
.slider img {
    /*border: 1px solid #c43c35;*/
    position: relative;
    z-index: 1;
}
.slide .description {
    position: relative;
    z-index:6;
    height:75px; 
    margin-top: -80px;
    background-color: rgba(0,0,0,0.2);
    text-align: left;
    overflow: hidden;
    /*padding-top: 10px;*/
}
.description p.big {
    font: 29px/1px "Georgia","Times New Roman";
    color: #ffffff;
    padding: 0;
    text-indent: 0;
    margin: 15px 0 15px 15px;
}
.description p.small {
    font: 16px/15px "Georgia","Times New Roman";
    color: #ffffff;
    padding: 0;
    text-indent: 0;
    width: 600px;
    margin: 15px 0 15px 15px;
}
.slide {
    float: left;
}
.slide_container {
    /*width:20000px;*/ 
    position: relative;
}
.arrows {
    width: 100%;
    height: 100%;
    float: left;
    position: relative;
    z-index: 5;
}
.arrow_left {
    width: 100px;
    height: 315px;
    margin-top: -320px;
    background: url(imgs/slider/arrow_left.png) no-repeat center center;
    float: left;
}
.arrow_left:hover {
    cursor: url("imgs/slider/arrow_left.cur"), pointer;
    /*cursor: e-resize;*/
    /*background: url("imgs/viewed/arrow_left.png") no-repeat;*/
    background-color: rgba(255, 0, 255, 0.1);
}
.arrow_right {
    width: 100px;
    height: 315px;
    margin-top: -320px;
    z-index: 5;
    position: relative;
    background: url(imgs/slider/arrow_right.png) no-repeat center center;
    float: right;
    /*text-align: right;*/
}
.arrow_right:hover {
    cursor: url("imgs/slider/arrow_right.cur"), pointer;
    /*cursor: e-resize;*/
    /*background: url("imgs/viewed/arrow_left.png") no-repeat;*/
    background-color: rgba(255, 0, 255, 0.1);
}