/* 
    Document   : contacts
    Created on : 18.11.2013, 17:08:57
    Author     : coyote
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.contacts p {
    font: 19px/20px Georgia, "Times New Roman", Arial;
    color: #7d766a;
    text-indent: 0;
}
.contacts p.big {
    margin-left: 0px;
}