/* 
    Document   : cushions
    Created on : 19.11.2013, 16:21:04
    Author     : coyote
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.left_side {
    width: 340px;
    text-align: left;
    /*float: left;*/
    display: table-cell;
    padding-right: 110px;
    vertical-align: top;
}

.right_side {
    width: 500px;
    /*float: left;*/
    text-align: left;
    display: table-cell;
    vertical-align: top;
}

.left_side .big {
    font: 34px/10px Georgia, "Times New Roman", serif;
    color: #7d766a;
    /*float: left;*/
    text-indent: 0;
}

.left_side .normal {
    font: 25px/10px Georgia, "Times New Roman", serif;
    color: #7d766a;
}

.left_side .small {
    font: 12px/20px Georgia, "Times New Roman", serif;
    color: #80776b;
}

.rigth_side .big {
    font: 27px/10px Georgia, "Times New Roman", serif;
    color: #000000;
    /*float: left;*/
    text-indent: 0;
}

.right_side .normal {
    font: 18px/10px Georgia, "Times New Roman", serif;
    color: #7d766a;
    margin: 0;
    padding: 10px 0;
    text-indent: 0;
}

.right_side .small, .right_side .quantity {
    font: 12px/20px Georgia, "Times New Roman", serif;
    color: #bcb29a;
    margin: 0;
    /*padding: 0;*/
}

.right_side .quantity {
    color: #666666;
    float: left;
    margin: 0;
}

.right_side #price {
    font: 27px/10px Georgia, "Times New Roman", serif;
    color: black;
    margin: 0 30px 0 0;
    float: left;
    /*padding: 0;*/
}

.left_side .lightbrown, .right_side .lightbrown {
    font: 12px/20px Georgia, "Times New Roman", serif;
    color: #bcb29a;
}

.inner1 {
    height: 300px;
    border-left: 1px dotted black;
    border-bottom: 1px dotted black;
    margin: -20px -20px 20px 0 ;
    padding: 10px;
}

.cushion_inner_lines {
    border: 1px dotted gray;
    border-left: none;
    border-right: none;
    width: 100%;
    height: 25px;
    margin: 0;
    float: left;
}

.cushion_mini {
    height: 120px;
    width: 80px;
    margin-top: -25px;
    text-align: center;
    /*padding-top: -25px;*/
    float: left;
}

.cushion_mini img {
    margin-top: 30px;
}

.right_side input {
    float: none;
}

#plus, #minus, #number {
    width: 25px;
}
#minus {
    margin-left: 20px;
}
#plus {
    margin-right: 20px;
}
#number {
    text-align: center;
}