/* 
    Document   : productstyles
    Created on : 05.11.2013, 10:56:43
    Author     : coyote
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.productleft {
    width: 300px;
    /*height: 580px;*/
    height: 100%;
    float: left;
    /*background-color: red;*/
}
.productright {
    width: 500px;
    height: 580px;
    float: right;
    margin-right: 30px;
    /*background-color: yellow;*/
}

p.productname {
    font-family: Georgia, "Times New Roman", serif;
    font-size: 34px;
    line-height: 10px;
    color: #9b8c61;
    margin: 10px 0px 0px 10px;
    float: left;
    width: 200px;
}
a.reviewsnumber {
    font-family: Georgia, "Times New Roman", serif;
    font-size: 16px;
    line-height: 10px;
    color: #a68939;
    margin: 18px 0px 10px 10px;
    float: left;
    text-decoration: none;
}
p.description {
    font-family: Georgia, "Times New Roman", serif;
    font-size: 16px;
    line-height: 20px;
    color: #80776b;
    margin: 18px 0px 10px 10px;
    float: left;
    width: 250px;
    max-height: 320px;
    overflow: hidden;
}

.priceblock {
    margin-top:30px;
    float: left;
}
p.price {
    font-family: Georgia, "Times New Roman", serif;
    font-size: 27px;
    line-height: 10px;
    color: black;
    margin: 18px 0px 10px 25px;
}
img.addtocart {
    margin: 15px 0px 10px 15px;
}
.productright img {
    width: 500px;
    float: right;
    clear: both;
    margin: 110px 0px 0 0;
    border: 1px solid #cccccc;
}
.productright a.first {
    /*float: right;*/
    clear: both;
    margin-right: 30px;
}
.productright a {
    /*clear: both;*/
    float: right;
}
.productright a img {
    margin: 0;
    width: 125px;
    /*float: right;*/
    /*clear: both;*/
    /*float: left;*/
    border: none;
}
.choosenfabric {
    margin: 10px 0 10px 10px;
    float: left;
}
div.product_descr_header {
    font-family: "Georgia", "Arial", "Times New Roman";
    font-size: 24px;
    line-height: 30px;
    color: #7d766a;
    margin: 10px 10px 10px 10px;
}
div.product_descr_text {
    font: 16px/15px "Georgia", "Arial", "Times New Roman";
    color: #80776b;
    margin: 10px 10px 10px 10px;
    float: left;
}
/* --------------TABS--------------*/
.tab_module {
    float: left;
    margin-top: 25px;
    width: auto;
    /*height: 800px;*/
    height: auto;
    text-align: left;
    width: 900px;
    margin: 25px 30px;
}
.tab_module ul {
    padding: 0;
    margin: 0;
}
.tab_module li {
    font-family: Georgia, "Times New Roman", serif;
    font-size: 14px;
    color: #7d766a;
    line-height: 10px;
    text-align: center;
    text-decoration: none;
    display: table-cell;
    border: 1px dotted #7D766A;
    border-bottom: none;
    border-right: none;
    border-radius: 4px 4px 0 0 ;
    padding: 5px 7px 3px 7px;
    margin-right: -5px;
    cursor: pointer;
    vertical-align: middle;
}
.tab_module li:hover {
    background-color: #b8b3ab!important;
    color: #ffffff!important;
}
.tab_module li.last {
    border-right: 1px dotted #7D766A;
}
.tab_content_box {
    border: 1px dotted #7D766A;
    margin: 0 auto;
    width: 100%;
    height: auto;
}
.tab_content {
    background: none;
}
/*=============================================*/
.container {
    border-bottom: 1px dotted #7D766A;
}
.fabric_cat {
    width: 170px;
    height: auto;
    /*background-color: red;*/
    /*border: 1px solid black;*/
    float: left;
    /*margin: 25px 10px 25px 0px;*/
    margin: 10px 4px;
}
.fabric_cat p {
    font-family: Georgia, "Times New Roman", serif;
    font-size: 14px;
    line-height: 18px;
    color: #6e6559;
    border-bottom: 1px dotted #6e6559;
    padding-bottom: 10px;
}
.fabric_cat img:hover {
    cursor: pointer;
}

/*=================== REVIEWS ===================*/


.reviewsblock {
    max-width: 900px;
    margin: 0 auto;
    height: auto;
    border: 1px dotted #7D766A;
    /*padding: 25 0;*/
    margin-bottom: 10px;
}
 p.header_reviews {
    font-family: Georgia, "Times New Roman", serif;
    font-size: 34px;
    line-height: 18px;
    color: #7d766a;
    margin-left: 30px;
}
.reviewsblock .review {
    max-width: 870px;
    margin: 25px auto;
    height: auto;
    border: 1px dotted #7D766A;
}
.reviewsblock p.header {
    font-family: Georgia, "Times New Roman", serif;
    font-size: 20px;
    line-height: 10px;
    color: #000000;
    /*color: #7d766a;*/
    height: 100%;
    border: 1px dotted #7D766A;
    margin: 20px;
    padding: 15px 10px;
}
.reviewsblock p.reviwer, .reviewsblock p.date {
    font-family: Georgia, "Times New Roman", serif;
    font-size: 16px;
    line-height: 17px;
    color: #a68939;
    height: 100%;
    margin: 0px 10px;
    padding: 5px 10px;
}
.reviewsblock p.comment {
    font-family: Georgia, "Times New Roman", serif;
    font-size: 14px;
    line-height: 20px;
    color: #7d766a;
    margin: 0px 10px;
    padding: 5px 10px;
}
