/* 
    Document   : reviewsstyle
    Created on : 07.11.2013, 11:55:31
    Author     : coyote
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}



/*=================== REVIEWS ===================*/


.reviewsblock {
    max-width: 900px;
    margin: 0 auto;
    height: auto;
    border: 1px dotted #7D766A;
    /*padding: 25 0;*/
    margin-bottom: 10px;
}
 p.header_reviews {
    font: 30px/20px Georgia, "Times New Roman", serif;
    color: #7d766a;
    margin-left: 10px;
}
.reviewsblock .review {
    max-width: 870px;
    margin: 25px auto;
    height: auto;
    border: 1px dotted #7D766A;
}
.reviewsblock p.header {
    font-family: Georgia, "Times New Roman", serif;
    font-size: 20px;
    line-height: 10px;
    color: #000000;
    /*color: #7d766a;*/
    height: 100%;
    border: 1px dotted #7D766A;
    margin: 20px;
    padding: 15px 10px;
}
.reviewsblock p.reviwer, .reviewsblock p.date {
    font-family: Georgia, "Times New Roman", serif;
    font-size: 16px;
    line-height: 17px;
    color: #a68939;
    height: 100%;
    margin: 0px 10px;
    padding: 5px 10px;
}
.reviewsblock p.comment {
    font-family: Georgia, "Times New Roman", serif;
    font-size: 14px;
    line-height: 20px;
    color: #7d766a;
    margin: 0px 10px;
    padding: 5px 10px;
}
.viewed {
    max-width: 900px;
    margin: 10px auto;
    height: 150px;
    /*background-color: red;*/
    text-align: center;
}
.viewed img {
    clear: none;
    height: 125px;
    margin: 0 5px;
}
.viewed p {
    font-family: Georgia, "Times New Roman", serif;
    font-size: 20px;
    line-height: 10px;
    color: #7d766a;
    margin: 0 0 10px 0;
    text-align: left;
    /*float: left;*/
}
.arrows {
    max-width: 900px;
    margin: -78px auto 0 auto;
    /*margin: 0 auto;*/
}
.arrow_left {
    background: url("../imgs/viewed/arrow_left.png") no-repeat;
    float: left;
    /*position: absolute;*/
    width: 16px;
    height: 30px;
}
.arrow_right {
    background: url("../imgs/viewed/arrow_right.png") no-repeat;
    float: right;
    /*position: absolute;*/
    width: 16px;
    height: 30px;
}