/* 
    Document   : viewed
    Created on : 22.11.2013, 16:52:05
    Author     : coyote
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.viewed {
    max-width: 900px;
    margin: 10px auto;
    height: 150px;
    /*background-color: red;*/
    text-align: center;
}
.viewed img {
    clear: none;
    height: 125px;
    margin: 0 5px;
}
.viewed p {
    font-family: Georgia, "Times New Roman", serif;
    font-size: 20px;
    line-height: 10px;
    color: #7d766a;
    margin: 0 0 10px 0;
    text-align: left;
    /*float: left;*/
}
.arrows {
    max-width: 900px;
    margin: -78px auto 0 auto;
    /*margin: 0 auto;*/
}
.arrow_left {
    background: url("../imgs/viewed/arrow_left.png") no-repeat;
    float: left;
    /*position: absolute;*/
    width: 16px;
    height: 30px;
}
.arrow_right {
    background: url("../imgs/viewed/arrow_right.png") no-repeat;
    float: right;
    /*position: absolute;*/
    width: 16px;
    height: 30px;
}