<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
  <!--<title>Test1</title>-->
  <!--<%= stylesheet_link_tag    "application", media: "all" %>-->
  <!--<%= javascript_include_tag "application" %>-->
  <!--<%= csrf_meta_tags %>-->
<!--</head>-->
<!--<body>-->
    <!--<%= render template: :'layouts/header'%>-->
    <!--<%= yield %>-->

<!--</body>-->
<!--</html>-->
