doctype html

html
  head
    = stylesheet_link_tag "application", media: 'all'
    = javascript_include_tag "application"
    = csrf_meta_tag
  body
    = render template: :'layouts/header'
    = yield