= stylesheet_link_tag :users
.new_user_container
  = form_for @user do |f|
    = f.label "Имя"
    span style="color:red;"
      | *
    br
    = f.text_field :name
    br
    = f.label "Фамилия"
    span style="color:red;"
      | *
    br
    = f.text_field :surname
    br
    = f.label "Отчество"
    br
    = f.text_field :patronymic
    br
    = f.label "e-mail", class: :mandatory
    span style="color:red;"
      | *
    br
    = f.text_field :email
    br
    = f.label "Адрес"
    br
    = f.text_area :address
    br
    = f.label "Основной телефон"
    br
    = f.text_field :phone
    br
    = f.label "Дополнительный телефон"
    br
    = f.text_field :phone2
    br

    = f.label "Текущий пароль"
    span style="color:red;"
      | *
    br
    = text_field_tag 'user[current_password]'
    br

    = f.label "Новый пароль"
    span style="color:red;"
      | *
    br
    = f.text_field :password
    br
    = f.label "Подтверждение нового пароля"
    span style="color:red;"
      | *
    br
    = f.text_field :password_confirmation
    - if admin?
      br
      br
      label
        | Сделать администратором?
        = f.check_box :role_id, {}, 2, 1
    br
    br
    = f.submit "Изменить данные"