= stylesheet_link_tag "users"

.new_user_container
  .users_header
    .user_cell.type = 'Тип аккаунта'
    .user_cell.name = 'Имя'
    .user_cell.surname = 'Фамилия'
    .user_cell.patronymic = 'Отчество'
    .user_cell = 'Email'
    .user_cell = 'Основной тедефон'
    .user_cell = 'Дополнительный телефон'
  - @users.each.with_index do |i, index|
    - if index.odd?
      - var = "odd"
    - else
      - var = ""
    .user_row class=["#{var}"]
      span.user_cell.type
        - if i.role_id
          - case i.role_id
          - when 2
            span style="color:red" = i.role.name
          - when 1
            = i.role.name
        - elsif !i.role_id
          = "Пользователь"
      .user_cell.name = i.name
      .user_cell.surname = i.surname
      .user_cell.patronymic = i.patronymic
      .user_cell = i.email
      .user_cell = i.phone
      .user_cell = i.phone2