= stylesheet_link_tag "users"
.new_user_container
  = form_for @user, url:{controller: :users, action: :auth} do |f|
    = f.label "Ваш email"
    br
    = f.text_field :email
    br
    = f.label "Ваш пароль"
    br
    = f.text_field :password
    br
    br
    = f.submit "Войти"