= stylesheet_link_tag "users"
.new_user_container
  h2
    = flash[:notice]
    br
    - if request.headers[:HTTP_REFERER]
      /= link_to "Вернуться назад", request.headers[:HTTP_REFERER]
      = link_to_function "Вернуться назад", "history.back()"
    - else
      = link_to "Вернуться на главную", :root
  - if @user
    h2 style="color:#770000"
      = t(:errors, count: @user.errors.full_messages.size)
    h3 style="color:550000"
      - @user.errors.full_messages.each do |msg|
        = msg
        br