div :style = 'margin:0 0 0 50px'
= @product
= form_for @product do |f|
  = f.label :name, 'Название'
  br
  = f.text_field :name, style: 'width:300px;'
  br
  = f.label :name, 'Описание'
  br
  = f.text_area :description, style: 'width:300px;'
  br
  = f.submit
= products_path
br
= products_path.class.name
br
= products_path.class.superclass.name
br
/= product_path
/= @product
/- @product.name = 'dckwhkch'