= stylesheet_link_tag "product"
/= javascript_include_tag "tinymce/tinymce.min.js"
/= javascript_include_tag "tinymce_start"
= stylesheet_link_tag "css/jquery.cleditor.css"
/= stylesheet_path "//javascripts/CLEditor/jquery.cleditor.css"
/= stylesheet_link_tag "/assets/javascripts/CLEditor/jquery.cleditor.css"
= javascript_include_tag "CLEditor/jquery.cleditor.js"
= javascript_include_tag "CLEditor/jquery.cleditor.min.js"
= javascript_include_tag "CLEditor_start.js"
/script type = "text/javascript"
/  | tinymce.init({selector: "textarea", width:600});
.container
  h1 Изменение продукта
  = form_for @product do |f|
    .category_elements
      = f.collection_check_boxes :category_ids, @categories, :id, :name  do |cb|
        p
          = cb.label { cb.check_box + cb.text}
    = f.label "Название"
    br
    = f.text_field :name, style: "width: 300px"
    br
    = f.label "Описание товара"
    br
    = f.text_area :description, style: "width: 500px"
    br
    = f.label "Размеры товара"
    br
    = f.text_area :sizes, style: "width: 500px"
    br
    = f.text_field :price
    br
    = f.submit "Сохранить изменения"
    br
    br
    - @images.each do |i|
      /- if i.priority == 1
      - if @product.product_images.where(image_id: i.id).first
        - puts "Testing iterating: "
        - puts i.id
        - if @maximal_priority.image_id == i.id
          .contains_main_image
            = image_tag i.file_path, style: "height: 100px"
            br
            label
              = check_box_tag "image_checked[#{i.id}]", 1, true
              | Добавить фото
            br
            label
              | Приоритет фото (ниже значение — выше приоритет)
              br
              = number_field_tag "image_priority[#{i.id}]", i.get_priority
            br
        - elsif @product.image_ids.include? i.id
          .contains_not_main_image
            = image_tag i.file_path, style: "height: 100px"
            br
            label
              = check_box_tag "image_checked[#{i.id}]", 1, true
              | Добавить фото
            br
            label
              | Приоритет фото (ниже значение — выше приоритет)
              br
              = number_field_tag "image_priority[#{i.id}]", i.get_priority
            br
      - else
        .contains_other_image
          = image_tag i.file_path, style: "height: 100px"
          br
          label
            = check_box_tag "image_checked[#{i.id}]", 1, false
            | Добавить фото
          br
          label
            | Приоритет фото (ниже значение — выше приоритет)
            br
            = number_field_tag "image_priority[#{i.id}]", 5
          br