= stylesheet_link_tag "product"

.container style = 'width:850px'
  .leftblock
    - @products.each do |p|
      .product
        = link_to product_path p.id
          /- if (img_path = p.images.order(:priority).first.file_path)
          /- if @positions.products.includes(p)
          - if product_image = @positions.where(product_id: p.id).order(:priority).first
            - if (img_path = product_image.image.file_path)
              = image_tag img_path
          - else
            = image_tag "sofas/imgs/noimage.png"
              /= print image_tag "sofas/imgs/g  noimage.png"
          /= image_tag  (p.images.find_by(id: 1).file_path : "noimage.png").to_s, :class => '300px'
        .info
          p.name
            == p.name
          p.description
            == (HTMLEntities.new.decode(strip_tags p.description)).split(" ").first(25).join " "
            = "..."
            = link_to " далее", product_path(p), class: "next"
            br
            p.price
              - if p.price == 0
                = "Нет цены"
              - else
                = "от "
                span.value
                  = p.price.to_s + " "
                = roubles p.price, options: :genitive
          - if admin?
            .admin_edit
              = link_to 'удалить продукт', p, :method => :delete, action: :destroy, data: {:confirm => 'Вы хотите удалить продукт?'}
              br
              = link_to 'редактировать продукт', edit_product_path(p.id), action: :edit, data: {:confirm => 'Вы переходите на страницу редактирования. Продолжить?'}
    br
    br
    - if admin?
      = link_to "Вернуться к добавлению продуктов", :products_new

  = render "layouts/rightblock"