/= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"
= stylesheet_link_tag "product"

= stylesheet_link_tag "css/jquery.cleditor.css"

= javascript_include_tag "CLEditor/jquery.cleditor.js"
= javascript_include_tag "CLEditor/jquery.cleditor.min.js"
= javascript_include_tag "CLEditor_start.js"

/style p, h1 {margin-left:50px;};

.container
    h1 Добавление продуктов
    = form_for @product do |f|
        .category_elements
            = f.collection_check_boxes :category_ids, @categories, :id, :name  do |cb|
                p
                    = cb.label { cb.check_box + cb.text}
        p style = 'float:left;'
        = f.label 'Название'
        br
        = f.text_field :name, {style:'width:300px'}
        br
        = f.label 'Описание'
        br
        = f.text_area :description, {style:'width:500px;height:400px;'}
        br
        = f.label 'Размеры'
        br
        = f.text_area :sizes, {style:'width:500px;height:400px;'}
        br
        = f.label "Цена (в рублях)"
        br
        = f.text_field :price
        br
        = f.submit 'Создать продукт'
        br
        br

        - @images.each do |i|
            .contains_other_image
                = image_tag i.file_path, style: 'height: 100px;'
                br
                label
                    = check_box_tag "image_checked[#{i.id}]"
                    | Добавить фото
                br
                label
                    = radio_button_tag :main_image, i.id
                    | Сделать главным
                br
                label
                    = number_field_tag "image_priority[#{i.id}]", 5