/- @product.images.each do |i|
/  = image_tag "sofas/imgs/" + i.file_path, :class => '300px'
/  br

= stylesheet_link_tag "product"
/= stylesheet_link_tag "css/mainstyles"
= stylesheet_link_tag "css/productstyles"
= stylesheet_link_tag "css/viewed"
= javascript_include_tag "tabs"

script type = "text/javascript"
  | window.onload = function() {
  | init_tabs(); }

.container
  .productleft
    = link_to "Главная >", :root, class: "path"
    = link_to "Каталог >", :products, class: "path"
    = link_to @product.name, :product, class: "path last"
    p.productname #{@product.name}
    = link_to "Нет отзывов. Нужна таблица", :product, class: "reviewsnumber"
    p.description #{(HTMLEntities.new.decode(strip_tags @product.description)).split(" ").first(45).join " "}
    .priceblock
      - if @product.price
        p.price
          = @product.price
          = " "
          = roubles @product.price
      - else
        p.price Нет цены

      = link_to add_to_cart_path(@product.id), remote: true
        = image_tag "addtocart.png", class: "addtocart", alt: "Добавить в корзину"
    = image_tag "", class: "chosenfabric"
  .productright
    = image_tag @product.main_image.file_path
    br
    div
      - @product.images.each do |i|
        = link_to i.file_path
          = image_tag i.file_path

  .tab_module
    ul
      li onclick = "on_click_handler(this, 'description')"
        | описание
      li onclick = "on_click_handler(this, 'sizes')"
        | размеры
      li onclick = "on_click_handler(this, 'choose_fabric')" class="last"
        | ткани
    .tab_content_box
      #description.tab_content
        .product_descr_text
          == @product.description
      #sizes.tab_content
        p
          == @product.sizes
      #choose_fabric.tab_content
        p.product_descr_header
        .fabric_cat
          /TODO Сделать и заполнить таблицу тканей. Отобразить здесь. Ткань: id, name, description
          = image_tag "fabrics/mini/2_1_2_002.jpg", onclick: "on_fabric_click(this)"
          = image_tag "fabrics/mini/38_002.jpg", onclick: "on_fabric_click(this)"
          = image_tag "fabrics/mini/almond.jpg", onclick: "on_fabric_click(this)"
          = image_tag "fabrics/mini/almond_002.jpg", onclick: "on_fabric_click(this)"
          = image_tag "fabrics/mini/ash.jpg", onclick: "on_fabric_click(this)"