

.container
  .leftblock
    h1 Добавление изображений
    = form_for @image do |f|
      = f.file_field :attachment, :multiple=>true, :accept => 'image/jpeg'
      br
      br
      = f.submit 'Записать изображения'