- @items.each do |item|
  .table_row
    .table_cell = link_to 'X', remove_line_from_cart_path(item[:id]), remote: true
    .table_cell = item[:name]
    .table_cell = "нет ткани"
    .table_cell = "нет цвета"
    .table_cell
      = link_to '—', remove_from_cart_path(item[:id]), style: 'float:left;margin-left:0px;', remote: true
      span = item[:quantity]
      = link_to '+', add_to_cart_path(item[:id]), style: 'margin-left:5px', remote: true

    .table_cell = item[:price]
    .table_cell = item[:price].to_i * item[:quantity].to_i