$('#total_price').html("<%= total_price%>");
if ($('.table').length > 0) {
    $('.table_row').remove();
    $('.table').append("<%= escape_javascript(render partial: 'carts/cart_items')%>");
    $('.sum').html("<%= total_price%>");
    $('#roubles').html("<%= escape_javascript(' ' + roubles(total_price)) %>");
}