= stylesheet_link_tag "css/basketstyles"

.container
  = link_to 'главная >', :root, class: 'path'
  = link_to 'корзина', :my_cart, class: 'path last'
  p.your_basket = 'Ваша корзина'
  .table
    .table_header
      .table_cell = 'удалить'
      .table_cell = 'наименование'
      .table_cell = 'ткань'
      .table_cell = 'цвет'
      .table_cell = 'количество'
      .table_cell = 'цена'
      .table_cell = 'сумма'
    - if @items.any?
      = render 'carts/cart_items'
    - else
      h3 корзина пока пуста
  = link_to 'обновить корзину (не реал.)', :root, class: 'refresh_basket'
  .total
    p итого:
    p.sum = total_price
    p#roubles = ' ' + roubles(total_price)
    /- if @cart_sum
    /  p.sum = @cart_sum
    /  p = ' ' + roubles(@cart_sum)
    /-else
    /  p.sum Нет данных
  - if request.headers['HTTP_REFERER']
    = link_to 'продолжить покупки', request.headers['HTTP_REFERER'],  class: 'continue'
  - else
    = link_to 'продолжить покупки', :products, class: 'continue'
  = link_to :root, class: 'make_order'
    = image_tag 'basket/make_order2.png', alt: 'оформить заказ'



/- @positions.each do |position|
/- if @positions
/  = render @positions
/- else
/  h1 still empty