.table_row
  .table_cell = link_to 'X', remove_from_cart_path(item[:id]), remote: true
  .table_cell = item[:name]
  .table_cell = "нет ткани"
  .table_cell = "нет цвета"
  .table_cell = item[:quantity]
  .table_cell = item[:price]
  .table_cell = item[:price].to_i * item[:quantity].to_i


/.table_row
/  .table_cell = link_to 'X', remove_from_cart_path(position.product_id), remote: true
/  .table_cell = position.product.name
/  .table_cell = "нет ткани"
/  .table_cell = "нет цвета"
/  .table_cell = position.quantity
/  .table_cell = position.product.price
/  .table_cell = position.product.price.to_i * position.quantity.to_i




/div
/  div style="margin:5px; float:left"
/    = position.product.name
/  div style="margin:5px; float:left"
/    = position.product.price
/  div style="margin:5px; float:left"
/    | &times
/  div style="margin:5px; float:left" id="position[#{position.product_id}]"
/    = position.quantity
/  div style="margin:5px; float:left"
/    = position.quantity * position.product.price
/  = link_to "Удалить", remove_from_cart_path(position.product_id), remote: true
/br

/div
/  = label :position, position.product_id, position.product.name
/  = label :position, position.product_id, position.product.price
/  = label :position, position.product_id, position.quantity
/  = label :position, position.product_id, position.quantity
/br