= stylesheet_link_tag "users"

.new_user_container
  h3 = "Для входа в кабинет введите свои данные:"
  = form_for @user, url: {controller: :sessions, action: :create} do |f|
    = f.label "Адрес электронной почты"
    br
    = f.text_field :email
    br
    = f.label "Пароль"
    br
    = f.text_field :password
    br
    br
    = f.submit "Войти"